In [2]:
import pandas as pd
import random

In [ ]:
df = pd.read_csv("./11_20_2024_Articles.csv")

In [4]:
df.head()

,title,url,date,content
0,Yahoo Finance,https://finance.yahoo.com/news/greek-gaming-gr...,"Wed, Nov 20, 2024, 8:52 AM",We are experiencing some temporary issues. The...
1,Yahoo Finance,https://finance.yahoo.com/news/applovin-plans-...,"Wed, Nov 20, 2024, 9:52 AM",We are experiencing some temporary issues. The...
2,Yahoo Finance,https://finance.yahoo.com/news/gildan-nears-de...,"Wed, Nov 20, 2024, 7:56 AM",We are experiencing some temporary issues. The...
3,Yahoo Finance,https://finance.yahoo.com/news/qualcomm-expect...,"Tue, Nov 19, 2024, 2:25 PM",We are experiencing some temporary issues. The...
4,Yahoo Finance,https://finance.yahoo.com/news/openai-releases...,"Wed, Nov 20, 2024, 8:40 AM",We are experiencing some temporary issues. The...

In [5]:
sentences_to_cut = [
    "We are experiencing some temporary issues. The market data on this page is currently delayed. Please bear with us as we address this and restore your personalized lists.",
    " Sign in to access your portfolio",
]

def cut_sentences(string):
    for s in sentences_to_cut:
        string = string.replace(s, "")
    return string

df["content"] = df["content"].map(cut_sentences)

In [6]:
df.insert(0, 'id', range(len(df)))

In [7]:
def drop_content(string, p):
    string_array = string.split(" ")
    
    num_to_remove = int(len(string_array) * p)
    
    indices_to_remove = random.sample(range(len(string_array)), num_to_remove)
    
    reduced_array = [val for i, val in enumerate(string_array) if i not in indices_to_remove]
    
    return " ".join(reduced_array)

In [8]:
for p in [0.1, 0.3, 0.5, 0.7, 0.9]:
    df[f"reduced_content_p={p}"] = df["content"].map(lambda x: drop_content(x, p))

In [9]:
df.to_csv(f"11_20_2024_Articles_DROPOUT.csv", index=False)

In [12]:
df[f"no_words_p={0}"] = df[f"content"].apply(lambda x: len(x.split(" ")))


for p in [0.1, 0.3, 0.5, 0.7, 0.9]:
    df[f"no_words_p={p}"] = df[f"reduced_content_p={p}"].apply(lambda x: len(x.split(" ")))

df.head()

,id,title,url,date,content,reduced_content_p=0.1,reduced_content_p=0.3,reduced_content_p=0.5,reduced_content_p=0.7,reduced_content_p=0.9,no_words_p=0.1,no_words_p=0.3,no_words_p=0.5,no_words_p=0.7,no_words_p=0.9,no_words_p=0
0,0,Yahoo Finance,https://finance.yahoo.com/news/greek-gaming-gr...,"Wed, Nov 20, 2024, 8:52 AM",(Reuters) - Greece's biggest gaming company O...,(Reuters) - Greece's biggest gaming company O...,(Reuters) - company OPAP on Wednesday its gro...,on Wednesday said its gaming revenue in the th...,- gaming OPAP on gross gaming revenue 17.6% i...,OPAP in last well sports activity. gross milli...,194,151,108,65,22,215
1,1,Yahoo Finance,https://finance.yahoo.com/news/applovin-plans-...,"Wed, Nov 20, 2024, 9:52 AM",(Bloomberg) -- AppLovin Corp. is making its d...,(Bloomberg) -- AppLovin Corp. is making its de...,(Bloomberg) -- AppLovin Corp. is its debut in...,-- Corp. is debut the investment-grade bond ma...,AppLovin is its in after being blue-chip Most...,Trees $9 Toll Tokyo’s Summers Cutting What It ...,355,276,197,119,40,394
2,2,Yahoo Finance,https://finance.yahoo.com/news/gildan-nears-de...,"Wed, Nov 20, 2024, 7:56 AM",(Bloomberg) -- Gildan Activewear Inc. is cons...,(Bloomberg) -- Gildan Activewear Inc. is consi...,(Bloomberg) -- Gildan Activewear is consideri...,-- is considering bond as soon as to people w...,"-- soon Wednesday, according to with the matte...",first Have Toll Summers Public sold points who...,285,222,158,95,32,316
3,3,Yahoo Finance,https://finance.yahoo.com/news/qualcomm-expect...,"Tue, Nov 19, 2024, 2:25 PM","(Bloomberg) -- Qualcomm Inc., the world’s big...","(Bloomberg) Qualcomm Inc., the world’s bigges...",(Bloomberg) -- Qualcomm the world’s biggest s...,"Inc., seller is expecting its push into marke...","Inc., of is generate additional billion annual...",Qualcomm seller expecting to $22 from New Cong...,252,196,140,84,28,279
4,4,Yahoo Finance,https://finance.yahoo.com/news/openai-releases...,"Wed, Nov 20, 2024, 8:40 AM",OpenAI envisions teachers using its AI-powere...,OpenAI envisions teachers using its AI-powere...,envisions AI-powered tools to create lesson p...,envisions using its tools lesson plans and int...,teachers using AI-powered lesson plans and int...,potential OpenAI bring chatbot Sense which the...,993,773,552,331,111,1103